*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
#main {
  opacity: 0;
  transition: opacity 200ms;
}
#main.loaded {
  opacity: 1;
}
a:hover {
  text-decoration: none;
  /*    background: url(../../fonts/eina01-bold.woff2)*/
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}
/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Lausanne";
  src: url("../../fonts/Lausanne-300.ttf");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Matrice-Medium";
  src: url("../../fonts/Matrice-Medium.ddaf072d.ttf");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.ttf");
}
.EP-1 {
  --bg-color: #ffffff;
  --accent-color: #0945f8;
  --text-color: #161616;
  --boarder-color: #e8f0ff;
  --header-font: "Lausanne";
  --text-font: "Montserrat-Regular";
  --style-font: "Matrice-Medium";
}
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;
  z-index: 99;
}
.link-grow {
  background: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 6px;
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
#main::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../../images/noise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
/****************************************** NAVIGATION ************************************/
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 8px;
  padding-bottom: 0px;
  background: transparent;
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
}
#mainNav .container-fluid {
  border-bottom: 1px solid #afafaf;
}
.navbar-brand img {
  width: 120px;
  margin-top: -15%;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 14px;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--text-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1) {
  width: 20px;
  margin-left: 20px;
}
.navbar-toggler span:nth-child(2) {
  width: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.navbar-toggler span:nth-child(3) {
  width: 20px;
}
.navbar-toggler:hover span:nth-child(1) {
  width: 32px;
  margin-left: 0%;
}
.navbar-toggler:hover span:nth-child(2) {
  width: 32px;
}
.navbar-toggler:hover span:nth-child(3) {
  width: 32px;
  margin-left: 0%;
}
.navbar-brand {
  margin-right: 0;
}

.content__item #active {
  color: var(--accent-color);
}
.content__item #active:hover {
  color: var(--accent-color);
}
#mainNav a:hover {
  color: var(--nav-link);
  outline: none;
}
#mainNav a:focus {
  outline: none;
  background: lightgrey;
}
#mainNav a:focus:not(:focus-visible) {
  background: transparent;
}
.link {
  cursor: pointer;
  font-size: 15px;
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: "";
  /* show by default */
}
.link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: var(--nav-links);
  stroke-width: 1px;
}
.link__graphic--slide {
  top: -3px;
  stroke-width: 2px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}
.content__item {
  padding: 7px 17px !important;
}
.link--carme {
  font-size: 16px;
  color: var(--nav-links);
  letter-spacing: 1px;
  font-family: var(--text-font);
  text-decoration: none;
  outline: none;
}
.link:hover .link__graphic--stroke path {
  stroke-dashoffset: 0;
}
.link--carme::before {
  display: none;
}
.link__graphic--scribble {
  top: 100%;
}
.link__graphic--scribble path {
  transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.link:hover .link__graphic--scribble path {
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}
#mainNav.navbar-shrink {
  padding-top: 8px;
  padding-bottom: 0px;
}
#mainNav.navbar-shrink {
  position: fixed;
  background: var(--bg-color);
  box-shadow: -1px 9px 40px -30px rgba(0, 0, 0, 0.35);
  width: 100%;
}

/***************************************** Hero-Section **************************************/
#hero {
  padding-top: 40%;
  height: 100vh;
}
.hero-intro {
  margin: 3%;
}
.hero-intro h1 {
  font-size: 7vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--text-color);
  text-align: center;
}
.hero-intro #blue {
  position: absolute;
  top: 22%;
  left: 11%;
  width: 30%;
}
.hero-intro #arrow {
  width: 15%;
  margin-left: 80%;
  margin-top: 58%;
  margin-bottom: 10%;
}
#mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-intro a {
  color: var(--text-color);
  position: relative;
}
.hero-intro .badge {
  border: 1px solid var(--accent-color);
  font-family: var(--text-font);
  font-weight: normal;
  font-size: 2.2vh;
  letter-spacing: 1px;
  margin-bottom: 3%;
  text-transform: uppercase;
}
.hero-intro p {
  font-size: 2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  text-align: center;
  margin-top: 5%;
  line-height: 1.2;
  text-transform: uppercase;
}

/***************************************** Socials-Section **************************************/
#socials {
  margin-top: 4%;
}
.socials-intro {
  margin: 3%;
}
.socials-intro #dots {
  width: 60%;
  margin-bottom: 10%;
}
.socials-intro p {
  font-size: 1.9vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  text-align: center;
  margin-top: 5%;
  line-height: 1.2;
  text-transform: uppercase;
}
#links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-intro a {
  font-size: 2.8vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--accent-color);
  margin-top: 5%;
  margin: 3%;
  position: relative;
}
.socials-intro h6 {
  margin-top: 20%;
}
.socials-intro h6 a {
  color: var(--text-color);
}
.socials-intro a span {
  border-bottom: 1px solid #ccc;
}

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 375px) {
  #hero {
    padding-top: 30%;
    height: 100vh;
  }
  .hero-intro h1 {
    font-size: 6vh;
  }
  .hero-intro #blue {
    display: none;
  }
  .hero-intro h1 span {
    color: var(--accent-color);
  }
  .hero-intro #arrow {
    margin-top: 80%;
  }
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #mainNav {
    background: var(--bg-color);
  }
  .link--carme {
    margin-left: -4%;
  }
  .nav-item #access {
    margin-left: -1%;
    width: 50%;
  }
  .cursor {
    display: none;
  }
  #hero {
    padding-top: 30%;
    height: 100vh;
  }
  .hero-intro h1 {
    font-size: 6vh;
  }
  .hero-intro #blue {
    display: none;
  }
  .hero-intro h1 span {
    color: var(--accent-color);
  }
  .socials-intro h6 {
    margin-bottom: 8%;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  #mainNav {
    padding-left: 1%;
    margin-right: 1%;
  }
  .navbar-brand img {
    width: 120px;
    margin-top: -12%;
  }
  .content__item {
    margin-top: 1%;
  }
  .link--carme {
    font-size: 15px;
  }

  #hero {
    padding-top: 9%;
  }
  .hero-intro {
    margin: 3%;
  }
  .hero-intro h1 {
    font-size: 17vh;
  }
  .hero-intro #blue {
    top: 16%;
    left: 21%;
    width: 21%;
  }
  .hero-intro #arrow {
    width: 5%;
    margin-left: 90%;
    margin-top: 4%;
    margin-bottom: 10%;
  }
  .hero-intro .badge {
    font-size: 2.5vh;
    letter-spacing: 1px;
    margin-bottom: 1%;
  }
  .hero-intro p {
    font-size: 2.3vh;
    margin-top: 1%;
  }
  .hero-intro p span {
    display: block;
  }

  #socials {
    margin-top: 8%;
  }
  .socials-intro {
    margin: 3%;
  }
  .socials-intro #dots {
    width: 20%;
    margin-bottom: 4%;
  }
  .socials-intro p {
    font-size: 1.9vh;
    margin-top: 0%;
  }
  .socials-intro a {
    font-size: 3.2vh;
    margin-top: 5%;
  }
  .socials-intro h6 {
    margin-top: 4%;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1900px) {
  .socials-intro h6 {
    margin-bottom: 7%;
  }
}
