*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
#main {
  opacity: 0;
  transition: opacity 200ms;
}
#main.loaded {
  opacity: 1;
}
a:hover {
  text-decoration: none;
  /*    background: url(../../fonts/eina01-bold.woff2)*/
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}
/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Lausanne";
  src: url("../../fonts/Lausanne-300.ttf");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Matrice-Medium";
  src: url("../../fonts/Matrice-Medium.ddaf072d.ttf");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.ttf");
}
.EP-1 {
  --bg-color: #ffffff;
  --accent-color: #0945f8;
  --text-color: #161616;
  --boarder-color: #e8f0ff;
  --main-font: "Lausanne";
  --text-font: "Montserrat-Regular";
  --style-font: "Matrice-Medium";
}
.cursor {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transform-origin: 100% 100%;
  mix-blend-mode: exclusion;
  z-index: 99;
}
.link-grow {
  background: white;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 6px;
}
/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */
#main::before {
  animation: grain 8s steps(10) infinite;
  background-image: url(../../images/noise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 300%;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

/****************************************** NAVIGATION ************************************/
#mainNav {
  transform: translateY(0);
  transition: padding-top 0.3s, padding-bottom 0.3s;
  padding-top: 8px;
  padding-bottom: 0px;
  background: transparent;
  transform: translateY(0);
  opacity: 1;
  z-index: 9;
  width: 100vw;
}
#mainNav .container-fluid {
  border-bottom: 1px solid #afafaf;
}
.navbar-brand img {
  width: 120px;
  margin-top: -15%;
}
.navbar-toggler {
  position: absolute;
  width: 40px;
  top: 14px;
  right: 30px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  z-index: 1;
}
.navbar-toggler span {
  display: block;
  background: var(--text-color);
  width: 30px;
  height: 1px;
  transition: 300ms linear all;
}
.navbar-toggler span:nth-child(1) {
  width: 20px;
  margin-left: 20px;
}
.navbar-toggler span:nth-child(2) {
  width: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.navbar-toggler span:nth-child(3) {
  width: 20px;
}
.navbar-toggler:hover span:nth-child(1) {
  width: 32px;
  margin-left: 0%;
}
.navbar-toggler:hover span:nth-child(2) {
  width: 32px;
}
.navbar-toggler:hover span:nth-child(3) {
  width: 32px;
  margin-left: 0%;
}
.navbar-brand {
  margin-right: 0;
}

.content__item #active {
  color: var(--accent-color);
}
.content__item #active:hover {
  color: var(--accent-color);
}
#mainNav a:hover {
  color: var(--nav-link);
  outline: none;
}
#mainNav a:focus {
  outline: none;
  background: lightgrey;
}
#mainNav a:focus:not(:focus-visible) {
  background: transparent;
}
.link {
  cursor: pointer;
  font-size: 15px;
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
}
.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}
.link::before {
  content: "";
  /* show by default */
}
.link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: var(--nav-links);
  stroke-width: 1px;
}
.link__graphic--slide {
  top: -3px;
  stroke-width: 2px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
.link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}
.content__item {
  padding: 7px 17px !important;
}
.link--carme {
  font-size: 16px;
  color: var(--nav-links);
  letter-spacing: 1px;
  font-family: var(--text-font);
  text-decoration: none;
  outline: none;
}
.link:hover .link__graphic--stroke path {
  stroke-dashoffset: 0;
}
.link--carme::before {
  display: none;
}
.link__graphic--scribble {
  top: 100%;
}
.link__graphic--scribble path {
  transition: stroke-dashoffset 0.6s cubic-bezier(0.7, 0, 0.3, 1);
}
.link:hover .link__graphic--scribble path {
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}
#mainNav.navbar-shrink {
  padding-top: 8px;
  padding-bottom: 0px;
}
#mainNav.navbar-shrink {
  position: fixed;
  background: var(--bg-color);
  box-shadow: -1px 9px 40px -30px rgba(0, 0, 0, 0.35);
  width: 100%;
}

/***************************************** Hero_Mobile **************************************/
#hero {
  padding-top: 25%;
  height: 100vh;
}
.wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .line {
  width: 100%;
  height: 40px;
  position: relative;
  overflow: hidden;
  margin-left: -1%;
}
.wrapper .line span {
  position: absolute;
  font-size: 4vh;
  font-family: var(--main-font);
  letter-spacing: 1px;
  color: var(--text-color);
  line-height: 3.5rem;
}
.wrapper .line span mark {
  background: transparent;
  color: var(--accent-color);
}
#service-list {
  margin: 8% 0;
}
.hero-intro #list-svg {
  width: 5%;
  vertical-align: middle;
  margin-right: 1%;
}
.hero-intro p {
  line-height: 1.4;
  font-size: 2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 4%;
}
.hero-intro h6 {
  font-size: 1.5vh;
  font-family: var(--style-font);
  letter-spacing: 1px;
  margin-top: 8%;
  color: var(--accent-color);
  text-align: center;
}
.hero-intro h6 span {
  border-bottom: 1px solid var(--accent-color);
}
/***************************************** About-Section **************************************/
#about {
  margin-top: 40%;
}
.about-intro {
  margin: 3%;
}
.about-intro #right_arrow {
  width: 15%;
  margin-left: 5%;
  margin-bottom: 15%;
}
.about-intro h1 {
  font-size: 4.5vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 8%;
  line-height: 1.3;
}
.about-intro h1 mark {
  font-size: 3.2vh;
  background: transparent;
  padding: 4px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 27px;
}
.about-intro p {
  line-height: 1.4;
  font-size: 2.2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 10%;
}
button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  letter-spacing: 1px;
}
button.learn-more {
  width: 16rem;
  height: auto;
}
button.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--accent-color);
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
button.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--text-color);
  font-family: var(--text-font);
  line-height: 1.6;
  text-align: center;
  font-size: 2.2vh;
  margin-top: -2%;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/***************************************** Clients-Section **************************************/
#clients {
  margin-top: 18%;
}
.clients-intro {
  margin: 3%;
}
.clients-intro #arrow {
  width: 15%;
  margin-bottom: 15%;
}
.clients-intro h1 {
  font-size: 4.5vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 8%;
  line-height: 1.3;
}
.clients-intro h6 {
  font-size: 1.7vh;
  font-family: var(--style-font);
  letter-spacing: 1px;
  color: var(--accent-color);
  margin-bottom: 3%;
}

/***************************************** Magic-Section **************************************/
#magic {
  margin-top: 15%;
}
.magic-intro {
  margin: 3%;
}
.magic-intro #right_arrow {
  width: 15%;
  margin-left: 5%;
  margin-bottom: 15%;
}
.magic-intro h1 {
  font-size: 4.5vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 4%;
  line-height: 1.3;
}
.magic-intro h1 mark {
  font-size: 3.2vh;
  background: transparent;
  padding: 4px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 27px;
}
.magic-intro h2 {
  font-size: 2vh;
  font-family: var(--style-font);
  letter-spacing: 1px;
  color: var(--accent-color);
  margin-bottom: 3%;
}
.magic-intro p {
  line-height: 1.4;
  font-size: 2.2vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 10%;
}
.magic-intro button.learn-more {
  width: 14rem;
  height: auto;
  margin-top: 10%;
}

/***************************************** Info-Section **************************************/
#info {
  margin-top: 20%;
}
.info-intro {
  margin: 3%;
}
.info-intro h1 {
  font-size: 4.5vh;
  font-family: var(--header-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 4%;
  line-height: 1.3;
  text-align: center;
}

/*************************************************** Footer-section ****************************************/
#footer {
  margin-top: 6%;
}
.footer-intro {
  margin: 3%;
}
.footer-intro p {
  font-size: 1.7vh;
  font-family: var(--text-font);
  letter-spacing: 1px;
  color: var(--text-color);
  margin-bottom: 8%;
}
.footer-intro h3 small {
  font-size: 1.5vh;
  font-family: var(--style-font);
  letter-spacing: 1px;
  color: var(--accent-color);
  margin-bottom: 2%;
}
/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
  #mainNav {
    background: var(--bg-color);
  }
  .link--carme {
    margin-left: -4%;
  }
  .nav-item #access {
    margin-left: -1%;
    width: 50%;
  }
  .cursor {
    display: none;
  }
  #desktop-screen {
    display: none;
  }
  .mob_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mob_wrapper .line {
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-left: -1%;
  }
  .mob_wrapper .line span {
    position: absolute;
    font-size: 4.1vh;
    font-family: var(--main-font);
    letter-spacing: 1px;
    color: var(--text-color);
    line-height: 3.5rem;
  }
  .mob_wrapper .line span mark {
    background: transparent;
    color: var(--accent-color);
  }

  .hero-intro #image {
    transform: rotate(1deg);
  }
  /* .hero-intro h6 {
    display: none;
  } */

  .about-intro p br {
    display: none;
  }
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  #mainNav {
    padding-left: 1%;
    margin-right: 1%;
  }
  .navbar-brand img {
    width: 120px;
    margin-top: -12%;
  }
  .content__item {
    margin-top: 1%;
  }
  .link--carme {
    font-size: 15px;
  }
  #mobile-screen {
    display: none;
  }
  #hero {
    padding-top: 7%;
    height: 100vh;
  }
  .hero-intro {
    margin: 1%;
  }
  .wrapper .line {
    width: 100%;
    height: 77px;
    position: relative;
    overflow: hidden;
    margin-left: -1%;
  }
  .wrapper .line span {
    position: absolute;
    font-size: 10vh;
    line-height: 5.6rem;
  }
  .wrapper #second_line,
  #third_line {
    margin-top: 1%;
  }
  .wrapper #third_line {
    margin-left: -4%;
  }
  #service-list {
    margin: 4% 0;
  }
  .hero-intro #list-svg {
    width: 2.5%;
    margin-right: 1%;
  }
  .hero-intro p {
    font-size: 2.1vh;
    margin-bottom: 3%;
  }
  .hero-intro hr {
    border-bottom: #afafaf;
    margin-top: 5%;
  }
  .hero-intro h6 {
    font-size: 1.7vh;
    margin-top: 4%;
    margin-left: 70%;
    font-family: var(--text-font);
  }

  #about {
    margin-top: 8%;
  }
  .about-intro {
    margin: 3%;
  }
  .about-intro #right_arrow {
    width: 22%;
    margin-left: 5%;
    margin-bottom: 15%;
  }
  .about-intro h1 {
    margin-top: 17%;
    font-size: 10vh;
    margin-bottom: 2%;
    line-height: 1.1;
  }
  .about-intro h1 mark {
    font-size: 8vh;
    padding: 2px 27px;
    border-radius: 100px;
  }
  .about-intro h1 span {
    display: block;
  }
  .about-intro p {
    font-size: 2.5vh;
    margin-bottom: 0%;
  }
  button {
    margin-left: 45%;
  }
  button.learn-more .button-text {
    line-height: 1.6;
    text-align: center;
    font-size: 2.2vh;
    margin-top: -2%;
  }

  #clients {
    margin-top: 7%;
  }
  .clients-intro {
    margin: 3%;
  }
  .clients-intro #arrow {
    width: 8%;
    margin-bottom: 5%;
  }
  .clients-intro h1 {
    font-size: 10vh;
    margin-bottom: 3%;
  }
  .clients-intro #handshake {
    display: none;
  }
  .clients-intro h6 {
    font-size: 1.7vh;
    margin-bottom: 2%;
  }

  #magic {
    margin-top: 8%;
  }
  .magic-intro {
    margin: 3%;
  }
  .magic-intro #right_arrow {
    width: 30%;
    margin-left: 15%;
    margin-bottom: 0%;
  }
  .magic-intro h1 {
    margin-top: 25%;
    font-size: 10vh;
    margin-bottom: 2%;
  }
  .magic-intro h1 mark {
    font-size: 8vh;
    padding: 2px 27px;
    border-radius: 100px;
  }
  .magic-intro h1 span {
    display: block;
  }
  .magic-intro hr {
    margin-bottom: 3%;
  }
  .magic-intro h2 {
    font-size: 2vh;
    margin-bottom: 3%;
  }
  .magic-intro p {
    font-size: 2.5vh;
    margin-bottom: 5%;
  }
  .magic-intro button.learn-more {
    width: 14rem;
    margin-top: 6%;
  }

  #info {
    margin-top: 8%;
  }
  .info-intro {
    margin: 3%;
  }
  .info-intro h1 {
    font-size: 9vh;
    margin-bottom: 4%;
    line-height: 1.1;
  }
  .info-intro h1 span {
    display: block;
  }

  #footer {
    margin-top: 6%;
  }
  .footer-intro {
    margin: 3%;
  }
  .footer-intro p {
    font-size: 1.7vh;
    margin-bottom: 0%;
  }
  .footer-intro h3 small {
    font-size: 1.6vh;
    margin-bottom: 0%;
    margin-top: -1%;
    float: right;
  }
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1900px) {
  .wrapper .line {
    height: 120px;
    position: relative;
    overflow: hidden;
  }
  .wrapper .line span {
    font-size: 10vh;
    line-height: 8.2rem;
  }
  .wrapper #second_line {
    margin-top: 1%;
  }
}
